/* removing default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Start Body style ------------- */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d9dcd6;
    background-color: #d9dcd6;
}
/* ------------- Finish Body style ------------- */



/* ------------- Start header style ------------- */
/* applying styles to <header> */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Defines h1 tag style within header */
header h1 {
    font-size: 48px;
    margin-left: 20px;
}

/* Changes SEO color for tag h1 on header */
header h1 .seo {
    color: #d9dcd6;
}

/* Defines a tag style within header */
header a {
    color: #ffffff;
    text-decoration: none;
}

/* Defines nav tag style within header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Defines ONLY a tag styles within list item from header */
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.1vw;
}
/* ------------- Finish header style ------------- */


/* ------------- Start Hero style ------------- */

/* Defining hero settings */
.hero {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: 800px;
    margin-bottom: 25px;
}
/* ------------- End Hero style ------------- */


/* ------------- Start Sections style ------------- */
/* Defining generic classes to all services */
.services {
    padding: 20px;
    border: solid 6px red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
}

/* Defining service details that will be applied to all services */
.service-details {
    margin-bottom: 20px;
    width: 100%;
    padding: 50px;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
    border: solid 6px black;
}

.service-details img {
    max-height: 200px;
    max-width: 300px;
    float: left;
}

.service-description {
    padding: 10px;
    float: left;
    width: 70%;
}

.service-description h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Defining generic classes to all benefits */
.benefits {
    margin-left: 20px;
    border: solid 6px green;
    width: 30%;
    max-height: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Defining generic classes to benefits section */
.benefits-details {
    margin-right: 20px 20px;
    padding: 0px 20px;
    background-color: #2589bd; 
    overflow: auto;
    border: salmon solid 4px;
}

.benefits-details img {
    max-height: 200px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 6px pink;

}

.benefits-description h3 {
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.benefits-description p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
}
/* ------------- End Sections style ------------- */

/* ------------- Start footer style ------------- */
/* applying styles to <footer> */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

/* Defines the h2 tag style within the footer */
footer h2 {
    font-size: 20px;
}

/* Defines the p tag style within the footer */
footer p {
    font-size: 16px;
}
/* ------------- End footer style ------------- */